@charset "UTF-8";
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╨░╤П ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╨░╤П ╤Б ╤Ж╨▓╨╡╤В╨╛╨╝*/
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╨░╤П ╤А╨░╨╖╨╝╨╡╤А╨░ ╤И╤А╨╕╤Д╤В╨░ */
/* ╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П body*/
body {
  background-color: #fff;
  font-family: 'AvenirNext', sans-serif;
  font-size: 16px; }

/* Header*/
.header {
  width: 100%;
  background-color: #fff; }
  .header .header-container {
    width: 1280px;
    margin: 0 auto;
    margin-top: 20px; }
    .header .header-container .logotype {
      font-size: 20px; }
      .header .header-container .logotype .logo-link {
        text-decoration: none;
        color: #333333; }
      .header .header-container .logotype .logotype-message {
        color: #50c5ee;
        background: url(../img/shape.png) no-repeat center center;
        padding: 10px; }
    .header .header-container .nav-main ul {
      margin-top: 3px; }
      .header .header-container .nav-main ul .nav-link {
        display: inline-block;
        border-right: 1px solid #000; }
        .header .header-container .nav-main ul .nav-link .main-link {
          text-decoration: none;
          color: #333;
          padding-right: 20px;
          padding-left: 10px;
          line-height: 1;
          font-size: 16px; }
        .header .header-container .nav-main ul .nav-link .main-link:hover {
          color: #4fc6ef; }
      .header .header-container .nav-main ul .nav-link:last-child {
        border-right: none; }
    .header .header-container .main-name .info-name .name {
      display: inline-block;
      padding-right: 25px;
      margin: 0; }
    .header .header-container .main-name .info-name .link-name {
      display: inline-block;
      color: #4fc6ef;
      text-decoration: underline; }
    .header .header-container .main-name .ava-foto {
      position: absolute; }
    .header .header-container .main-section {
      width: 100%;
      margin-top: 50px;
      background-color: #f9f9fa; }

/* Main-word*/
.main-word {
  width: 100%;
  background-color: #f9f9fa; }
  .main-word .word-container {
    width: 1280px;
    margin: 0 auto;
    margin-top: 50px; }
    .main-word .word-container .main-section {
      margin-top: 20px;
      margin-bottom: 20px;
      height: 20px; }
      .main-word .word-container .main-section .main-text {
        display: inline-block; }
        .main-word .word-container .main-section .main-text a {
          font-size: 16px;
          text-decoration: none;
          color: #4fc6ef;
          line-height: 1;
          display: inline-block; }
        .main-word .word-container .main-section .main-text a:hover {
          color: #333333; }
      .main-word .word-container .main-section .my-consult {
        display: inline-block;
        padding-left: 5px; }

/* Info-block */
.info-block {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea; }
  .info-block .info-container {
    width: 1280px;
    margin: 0 auto;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px; }
    .info-block .info-container a {
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-top: 20px;
      text-decoration: none;
      color: #333333; }
    .info-block .info-container a:hover {
      border-bottom: 2px solid #4fc6ef;
      border-right: 1px solid #eaeaea;
      border-left: 1px solid #eaeaea; }

/* Personal-info*/
.personal-info {
  background-color: #f9f9fa;
  width: 100%; }
  .personal-info .personal-container {
    width: 1290px;
    margin: 0 auto;
    /* accordion */
    /* Style the buttons that are used to open and close the accordion panel */
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    /* Style the accordion panel. Note: hidden by default */ }
    .personal-info .personal-container button.accordion {
      background-color: #fff;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      border-bottom: 1px solid #eaeaea; }
      .personal-info .personal-container button.accordion .check-info {
        display: inline-block;
        margin-left: 990px; }
      .personal-info .personal-container button.accordion .review-info {
        display: inline-block;
        margin-left: 1050px; }
      .personal-info .personal-container button.accordion .gly-inf {
        float: right; }
    .personal-info .personal-container button.accordion:first-child {
      margin-top: 20px; }
    .personal-info .personal-container button.accordion.active, .personal-info .personal-container button.accordion:hover {
      background-color: #fff; }
    .personal-info .personal-container div.panel {
      padding-top: 20px;
      padding-left: 15px;
      padding-bottom: 30px;
      background-color: white;
      display: none; }
      .personal-info .personal-container div.panel .panel-info {
        width: 800px;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 40px; }
      .personal-info .personal-container div.panel .log-info {
        margin-bottom: 30px;
        display: inline-block;
        padding-right: 200px; }
      .personal-info .personal-container div.panel .place-info {
        display: inline-block; }
      .personal-info .personal-container div.panel .my-place {
        display: inline-block;
        padding-left: 20px; }
  .personal-info .section-form-1 {
    display: inline-block; }
  .personal-info .form-enter-info-1 {
    display: inline-block; }
    .personal-info .form-enter-info-1 .text-name-info span {
      color: #4fc6ef; }
    .personal-info .form-enter-info-1 .info-type {
      padding: 10px 50px 10px 10px;
      width: 330px;
      margin-bottom: 50px;
      border-radius: 3px;
      border: 1px solid #b8b8b8;
      outline: none; }
    .personal-info .form-enter-info-1 .info-type-2 {
      margin-bottom: 100px; }
    .personal-info .form-enter-info-1 .btn-button {
      padding: 13px 60px 13px 60px;
      font-family: "AvenirNext", sans-serif;
      font-size: 20px;
      background-color: #4fc6ef;
      color: #fff; }
  .personal-info .section-form-2 {
    display: inline-block; }
  .personal-info .form-enter-info-2 {
    display: inline-block; }
    .personal-info .form-enter-info-2 .text-name-info span {
      color: #4fc6ef; }
    .personal-info .form-enter-info-2 .info-type {
      padding: 10px 50px 10px 10px;
      width: 330px;
      margin-bottom: 50px;
      border-radius: 3px;
      border: 1px solid #b8b8b8;
      outline: none; }
    .personal-info .form-enter-info-2 .info-type-2 {
      margin-bottom: 15px; }
    .personal-info .form-enter-info-2 .help-text-info {
      margin-bottom: 63px;
      color: #cbcbcb; }
    .personal-info .form-enter-info-2 .btn-button {
      padding: 13px 60px 13px 60px;
      font-family: "AvenirNext", sans-serif;
      font-size: 20px;
      background-color: #4fc6ef;
      color: #fff; }
    .personal-info .form-enter-info-2 .btn-green {
      background-color: #7fd41b; }
  .personal-info .section-form-3 {
    text-align: -webkit-center;
    text-align: -moz-center;
    /* .file-upload:hover {*/
    /* 	background: #4fc6ef;*/
    /* }*/ }
    .personal-info .section-form-3 .one-square {
      position: relative;
      width: 220px;
      height: 220px;
      bottom: 100px;
      margin: 0 auto;
      background: #fff;
      border-radius: 50%;
      border: 1px solid #ededed; }
      .personal-info .section-form-3 .one-square .two-square {
        position: absolute;
        width: 180px;
        height: 180px;
        top: 20px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: #f9f9fb;
        border-radius: 50%;
        border: 1px solid #ededed; }
        .personal-info .section-form-3 .one-square .two-square .foto-ava {
          text-align: center;
          margin-top: 20%; }
          .personal-info .section-form-3 .one-square .two-square .foto-ava span {
            color: #a2a2a2; }
          .personal-info .section-form-3 .one-square .two-square .foto-ava .main-ava-foto {
            position: absolute;
            bottom: 0;
            right: 0px;
            height: 180px;
            border-radius: 50%;
            border: none;
            width: 180px;
            background-size: cover;
            outline: none; }
          .personal-info .section-form-3 .one-square .two-square .foto-ava .text-ava {
            margin-top: 20px;
            color: #cccccd; }
    .personal-info .section-form-3 .file-upload {
      position: relative;
      overflow: hidden;
      width: 55%;
      bottom: 70px;
      height: 55px;
      background: #4fc6ef;
      border-radius: 3px;
      padding: 8px 2px;
      color: #fff;
      text-align: center; }
    .personal-info .section-form-3 .file-upload input[type="file"] {
      display: none;
      /* ╨Ю╨▒╤П╨╖╨░╤В╨╡╨╗╤М╨╜╨╛ ╤Б╨║╤А╤Л╨▓╨░╨╡╨╝ ╨╜╨░╤Б╤В╨╛╤П╤Й╨╕╨╣ Input File */ }
    .personal-info .section-form-3 .file-upload label {
      /* ╨а╨░╤Б╤В╤П╨│╨╕╨▓╨░╨╡╨╝ label ╨╜╨░ ╨▓╤Б╤О ╨▓╨╛╨╖╨╝╨╛╨╢╨╜╤Г╤О ╨┐╨╗╨╛╤Й╨░╨┤╤М ╨▒╨╗╨╛╨║╨░ .file-upload */
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer; }
    .personal-info .section-form-3 .file-upload span {
      line-height: 55px;
      /* ╨Ф╨╡╨╗╨░╨╡╨╝ ╨▓╨╡╤А╤В╨╕╨║╨░╨╗╤М╨╜╨╛╨╡ ╨▓╤Л╤А╨░╨▓╨╜╨╕╨▓╨░╨╜╨╕╨╡ ╤В╨╡╨║╤Б╤В╨░, ╨║╨╛╤В╨╛╤А╤Л╨╣ ╨╜╨░╨┐╨╕╤Б╨░╨╜ ╨╜╨░ ╨║╨╜╨╛╨┐╨║╨╡ */ }
    .personal-info .section-form-3 .file-text-upload {
      position: relative;
      bottom: 50px;
      color: #b2b2b2; }
    .personal-info .section-form-3 .btn-button {
      position: relative;
      bottom: 26px;
      padding: 13px 60px 13px 60px;
      font-family: "AvenirNext", sans-serif;
      font-size: 20px;
      background-color: #4fc6ef;
      color: #fff; }
    .personal-info .section-form-3 .btn-red {
      background-color: #d75554; }
  .personal-info .footer {
    width: 100%;
    background-color: #f9f9fa; }
    .personal-info .footer .footer-container {
      width: 1280px;
      margin: 0 auto; }
      .personal-info .footer .footer-container .vk-theme {
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 50px; }
        .personal-info .footer .footer-container .vk-theme .vkontakte-img {
          margin-right: 30px; }
      .personal-info .footer .footer-container .footer-nav {
        text-align: right; }
        .personal-info .footer .footer-container .footer-nav li {
          display: inline-block;
          margin-top: 50px; }
          .personal-info .footer .footer-container .footer-nav li a {
            text-decoration: none;
            color: #505051;
            border-right: 1px solid #535353;
            padding-right: 17px;
            padding-left: 17px; }
        .personal-info .footer .footer-container .footer-nav li:last-child a {
          border: none; }
        .personal-info .footer .footer-container .footer-nav a:hover {
          color: #4fc6ef; }

/* footer-block */
/* ╨Я╨╛╨┤╨║╨╗╤О╤З╨░╨╡╨╝ ╨и╤А╨╕╤Д╤В╤Л */
@font-face {
  font-family: 'AvenirNext';
  src: url(../fonts/AvenirNext-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

/*# sourceMappingURL=style.css.map */
